/* 
1- website roles
2- general roles
3- header section
4- about section
5- portfolio section
6- services section
7- contact section  
*/

/*website roles*/
:root {
  --red: #f24259;
  --main: #fff;
  --background: #ededed;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  line-height: 1.3;
  font-weight: 400;
}

/* general roles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  word-spacing: 1px;
  margin: 0;
}
span,
a,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.section-head {
  margin: 100px 0;
}
.section-head h4 {
  position: relative;
  padding: 0 0 0 15px;
  line-height: 1;
  border-left: 1px solid #eee;
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: 700;
}
.section-head h4:before {
  content: "";
  width: 1px;
  height: 35px;
  background: #f24259;
  position: absolute;
  left: -1px;
  bottom: 0;
}
.section-head h4 span {
  font-weight: 200;
  padding-bottom: 5px;
}

.bg-gray {
  background: #f7f7f7;
}

.overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* navbar */
.navbar {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  transition: all 0.5s;
}
.navbar-scrolled {
  background-color: #fff;
  color: black;
}

.logo {
  padding: 10px 0;
  width: 100px;
  object-fit: cover;
}
img {
  width: 100%;
  height: auto;
}
.navbar-scrolled .navbar-nav .nav-link {
  color: black;
}
.navbar .navbar-nav a {
  color: #fff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: var(--red);
}
.navbar .navbar-toggler {
  color: var(--main);
  border-color: var(--main);
  border: none;
  font-size: 25px;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
/* End navbar */

/* landing */
.landing {
  background-image: url(../images/bd1.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.landing .landing-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .landing-title {
  color: #fff;
}
.landing h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}
.landing h1 span {
  color: var(--red);
  font-weight: 700;
  font-size: 80px;
}
.landing p {
  margin-bottom: 25px;
  color: #fff;
}
.btn {
  position: relative;
}
.bttn {
  border: 1px solid #fff;
  margin: 2px;
  padding: 10px 30px;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}

.btn-1:hover,
.btn-2:hover {
  background-color: #fff;
  color: #333;
}
.btn-1 {
  background-color: transparent;
}
.btn-2 {
  background-color: var(--red);
  border-color: var(--red);
}
/* End landing */
/* about */
.about {
  margin: 50px 0;
}
.about-content h3 {
  margin-left: 400px;
  font-weight: 300;
}
.about span {
  font-weight: 700;
}
.about p {
  text-align: center;
  line-height: 1.6;
  width: 730px;
  margin-left: 240px;
}
.about span {
  line-height: 2;
  font-weight: 700;
}
.about a {
  display: flex;
  align-items: center;
  margin-left: 70px;
  padding-top: 40px;
  color: var(--red);
}
.about a span {
  margin-left: 15px;
  font-size: 13px;
  color: #666;
}
.about .about-p {
  margin: 0 50px;
}
.skills {
  padding-top: 300px;
}
.progres-item {
  margin-bottom: 25px;
}
.skills .progres-item p {
  margin-bottom: 8px;
}
.skills .skill-progres {
  width: 70%;
  position: relative;
  height: 2px;
  background-color: #eee;
  left: 400px;
  margin-bottom: 20px;
}
.skills .skill-progres span {
  display: inline-block;
  position: absolute;
  background: var(--red);
  height: 100%;
  top: 0;
  left: 0;
}
.skills .skill-progres span:after {
  content: attr(data-value);
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 10px;
  color: #777;
}
/* End about */
/* feat */
.feat {
  margin: 100px 0;
  padding: 70px;
  background-color: var(--background);
}
.item {
  margin-left: 50px;
  padding: 30px 20px;
  background-color: #fff;
}
.icon {
  color: var(--red);
}
.item h4 {
  margin-bottom: 15px;
  font-weight: 500;
}
/* End feat */

/* quote */
.quote {
  width: 100%;
  height: 320px;
  background-image: url(../images/team1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.quote .quote-info {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quote .quote-p {
  width: 820px;
  font-style: italic;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #bbb;
}
.quote h5 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  color: var(--red);
}
.quote h6 {
  font-size: 12px;
  color: #fff;
}
/* End quote */

/* portfolio */
.portfolio .spans span {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
}
.portfolio .spans span.active,
.portfolio .spans span:hover {
  color: var(--red);
}
.img-item {
  position: relative;
  margin: 20px 0;
}
.img-item .layer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
.img-item:hover .layer-content {
  opacity: 0.9;
}
.img-item .layer-content .layer-info {
  text-align: center;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.img-item .layer-content .layer-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.img-item .layer-content .layer-info-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
}
.layer-content .layer-info-text .category {
  position: relative;
  bottom: 10px;
  font-size: 20px;
  transition: all 0.5s;
}
.layer-content .layer-info-text .layer-title {
  position: relative;
  top: 10px;
  font-size: 17px;
  transition: all 0.5s;
}
.img-item:hover .layer-info-text .category {
  bottom: 0;
}
.img-item:hover .layer-info-text .layer-title {
  top: 0;
}
/* End portfolio */

/* numbers */
.numbers {
  background-image: url(../images/team2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
  margin: 30px 0;
}
.numbers .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.numbers .numbers-info {
  padding: 80px 0;
}
.num-item {
  padding: 40px 0;
}
.numbers .num-icon {
  padding-bottom: 20px;
  color: #fff;
}
.numbers .numbers-info .count {
  font-weight: 700;
  color: #fff;
  padding-bottom: 20px;
}
.num-item h6 {
  color: #f7f7f7;
}
/* End numbers */

/* services */
.services {
  background-color: var(--main);
}
.services .item {
  margin-bottom: 10px;
  background-color: #f6f6f6;
}
/* End services */
/* serv tab */
.serv-tab {
  position: relative;
  background-image: url(../images/team4.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}
.serv-tab .serv-tab-info {
  padding: 100px 0;
}
.serv-tab .text-p1 {
  color: #bbb;
}
.serv-tab .text-p2 {
  color: #fff;
  font-size: 16px;
  font-style: italic;
}
.serv-item.active,
.serv-item:hover {
  background-color: #fff;
}
.serv-item {
  background: rgba(70, 70, 70, 0.4);
}
.serv-tab .ser-icon {
  color: var(--red);
}
.serv-tab h5 {
  margin-bottom: 30px;
  color: #000;
}
/* End serv tab */

/* team */
.team-section {
  padding: 100px 0;
}
.team-img {
  margin-top: 50px;
  display: inline-block;
  width: 250px;
  transition: all 0.5s;
}
.team-img:hover img {
  transform: scale(1.1);
}
.team-img img {
  border-radius: 50%;
}
.team-img h6 {
  font-size: 18px;
  margin: 20px 0 10px;
  font-weight: 700;
}
.team-img span {
  color: #959595;
}
.social {
  margin: 15px 0;
}
.social a {
  margin: 0 5px;
  color: #333;
}
.bullets {
  justify-content: center;
  display: flex;
}
.bullet:hover,
.bullet.active {
  background-color: #f24259;
}
.bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  margin: 30px 10px;
  cursor: pointer;
}
/* End team */

/* price  */
.price .item {
  padding: 30px 0;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.price .item:hover {
  -webkit-box-shadow: 0px 5px 40px 0px rgba(148, 146, 245, 0.2);
  box-shadow: 0px 5px 40px 0px rgba(148, 146, 245, 0.2);
}
.price .type {
  margin-bottom: 30px;
}
.price .type .icon {
  display: none;
  font-size: 45px;
  color: #eee;
  margin-bottom: 10px;
}
.price .type h4 {
  font-size: 25px;
}
.price .value {
  padding: 30px 0;
  position: relative;
}
.price .value:before,
.price .value:after {
  content: "";
  background: #eee;
  width: 70%;
  height: 1px;
  position: absolute;
  left: 15%;
}
.price .value:before {
  top: 0;
}
.price .value:after {
  bottom: 0;
}
.price .value h3 {
  display: inline-block;
  padding-right: 10px;
  font-size: 50px;
  font-weight: 800;
  position: relative;
}
.price .value h3 span {
  font-size: 14px;
  position: absolute;
  top: 5px;
  right: 0;
}
.price .value .per {
  font-size: 13px;
  color: #777;
}
.price .features {
  padding: 15px 0;
}
.price .features li {
  margin: 15px 0;
  color: #777;
}
.price .order {
  padding-top: 15px;
  position: relative;
}
.price .order:before {
  content: "";
  background: #eee;
  width: 70%;
  height: 1px;
  position: absolute;
  left: 15%;
  top: 0;
}
.price .order a {
  background: #f24259;
  border: 1px solid #f24259;
  color: #fff;
  padding: 10px 30px;
  margin-top: 15px;
  font-weight: 600;
  position: relative;
}
.price .order a:after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 100%;
  z-index: 1;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.price .order a span {
  position: relative;
  z-index: 2;
}
.price .order a:hover:after {
  width: 100%;
  left: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.price .order a:hover span {
  color: #f24259;
}
.price .active {
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

/* bg-image */
.bg-image {
  width: 100%;
  background-image: url(../images/team3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 500px;
}
.bg-image .bg-image-info {
  padding: 140px 0;
}
.bg-image img {
  width: 100px;
  border-radius: 50%;
}
.bg-image h5 {
  padding-top: 20px;
  color: #f24259;
  font-weight: 700;
}
.bg-image h6 {
  font-size: 14px;
}
.bg-image p {
  margin-left: 400px;
  width: 1000px;
  margin-top: 25px;
  word-spacing: 1px;
  line-height: 1.6;
}
/* End bg-image */

/* blog  */
.blog .item {
  -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  border-radius: 5px;
}
.blog .item .post-img {
  position: relative;
  overflow: hidden;
}
.blog .item .post-img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.blog .item .post-img img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.blog .item .post-img .date {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 15px;
  background: #111;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
}
.blog .item .post-img .date span {
  display: block;
  font-weight: 700;
  font-size: 12px;
}
.blog .item .content {
  padding: 40px 5px;
  background: #fff;
}
.blog .item .content .tag {
  color: #f24259;
  font-weight: 600;
  margin-bottom: 10px;
}
.blog .item .content h5 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.blog-nav {
  position: static !important;
  background: #fff !important;
  margin: 0;
}
.blog-nav .logo {
  color: #1c1c1c !important;
}
.blog-nav .navbar-nav li a {
  color: #1c1c1c !important;
  font-weight: 500;
}

.min-header {
  height: 50vh;
  background: #1c1c1c;
  position: relative;
}
.min-header .v-middle {
  z-index: 4;
}
.min-header h5 {
  font-weight: 700;
  letter-spacing: 1px;
  color: #ccc;
  margin-bottom: 15px;
}
.min-header .path {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  background: rgba(100, 100, 100, 0.2);
}
.min-header span {
  position: relative;
  color: #ddd;
  font-style: italic;
  line-height: 1.7;
}
.min-header span:after {
  content: ">>";
  position: relative;
  margin: 0 10px;
}
.min-header span:last-child:after {
  display: none;
}

.blogs .posts .post {
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
}
.blogs .posts .post .content {
  padding: 50px 15px;
  background: #fff;
}
.blogs .posts .post .content .post-title h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.blogs .posts .post .content .meta {
  margin-bottom: 20px;
}
.blogs .posts .post .content .meta li {
  display: inline-block;
  font-size: 12px;
  color: #777;
  margin: 5px;
}
.blogs .posts .post .content p {
  font-weight: 300;
}
.blogs .posts .post .content .spical {
  padding: 15px;
  margin: 30px 0;
  border-left: 2px solid #111;
  background: #f7f7f7;
  font-size: 16px;
}
.blogs .posts .post .content .butn {
  display: inline-block;
  margin-top: 30px;
  padding: 8px 30px;
  border: 2px solid #ddd;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.blogs .posts .post .content .butn:hover {
  background: #f24259;
  border-color: #f24259;
  color: #fff;
}
.blogs .posts .post .share-post {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px dashed #eee;
  text-align: left;
}
.blogs .posts .post .share-post span {
  font-weight: 700;
}
.blogs .posts .post .share-post ul {
  float: right;
}
.blogs .posts .post .share-post ul li {
  display: inline-block;
  margin: 0 10px;
}
.blogs .posts .title-g h3 {
  font-weight: 800;
  font-size: 25px;
}
.blogs .posts .comments-area .comment-box {
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
}
.blogs .posts .comments-area .comment-box:nth-child(odd) {
  margin-left: 80px;
}
.blogs .posts .comments-area .comment-box:last-child {
  margin-bottom: 0;
}
.blogs .posts .comments-area .comment-box .author-thumb {
  width: 80px;
  float: left;
}
.blogs .posts .comments-area .comment-box .comment-info {
  margin-left: 100px;
}
.blogs .posts .comments-area .comment-box .comment-info h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.blogs .posts .comments-area .comment-box .comment-info .reply {
  margin-top: 10px;
  font-weight: 600;
}
.blogs .posts .comments-area .comment-box .comment-info .reply i {
  padding-right: 5px;
  font-size: 12px;
}
.blogs .posts .comment-form .form input[type="text"],
.blogs .posts .comment-form .form input[type="email"],
.blogs .posts .comment-form .form textarea {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background: #f4f4f4;
}
.blogs .posts .comment-form .form textarea {
  height: 160px;
  max-height: 160px;
  max-width: 100%;
}
.blogs .posts .comment-form .form button[type="submit"] {
  background: #f24259;
  border: 1px solid #f24259;
  color: #fff;
  padding: 10px 30px;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.blogs .posts .comment-form .form button[type="submit"]:after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 100%;
  z-index: 1;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blogs .posts .comment-form .form button[type="submit"] span {
  position: relative;
  z-index: 2;
}
.blogs .posts .comment-form .form button[type="submit"]:hover:after {
  width: 100%;
  left: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.blogs .posts .comment-form .form button[type="submit"]:hover span {
  color: #f24259;
}
.blogs .posts .pagination {
  display: block;
  text-align: center;
}
.blogs .posts .pagination li {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  border: 1px solid #ddd;
}
.blogs .side-bar .widget {
  margin-bottom: 50px;
}
.blogs .side-bar .widget:last-child {
  margin-bottom: 0;
}
.blogs .side-bar .widget .widget-title {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.blogs .side-bar .widget .widget-title h6 {
  position: relative;
  padding-bottom: 15px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.blogs .side-bar .widget .widget-title h6:after {
  content: "";
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.blogs .side-bar .widget li {
  margin-bottom: 10px;
  color: #777;
}
.blogs .side-bar .widget li:last-child {
  margin: 0;
}
.blogs .side-bar .search form input {
  width: calc(100% - 52px);
  height: 50px;
  padding: 0 10px;
  border: 0;
  background: #f7f7f7;
}
.blogs .side-bar .search form button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #1c1c1c;
  color: #fff;
  border: 0;
  float: right;
}

/* clients  */
.clients {
  padding: 30px 0;
}
.clients .brand {
  padding: 15px;
  opacity: 0.5;
}
.clients .brand:hover {
  opacity: 1;
}

/* contact */
.contact .section-head {
  width: 40%;
}
.contact .section-head input {
  background-color: rgb(246, 246, 246);
}
textarea {
  background-color: rgb(246, 246, 246);
  margin: 30px 0;
}
/* End contact */
.btn1 {
  padding: 10px;
  margin-left: 300px;
  display: inline;
  background: var(--red);
  color: #fff;
  border: 1px solid #f24259;
  border-radius: 5px;
}
.btn1:hover {
  background: #fff;
  color: var(--red);
}
/* information */
.information {
  background-image: url(../images/team3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 400px;
  color: #fff;
}
.information .info-sec {
  padding: 150px 0;
}
.information .info .item:last-child {
  margin-bottom: 0;
}
.information .info .item .icon {
  font-size: 45px;
  float: left;
  color: #fff;
}
.information .info .item .cont {
  margin-left: 60px;
}
.information .info .item .cont h6 {
  font-size: 16px;
  margin-bottom: 5px;
}
.information .info .item .cont p {
  color: #999;
}
.information .item {
  padding: 30px;
  background: rgba(70, 70, 70, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

/* footer  */
footer {
  background: #111;
  padding: 80px 0;
}
footer .social a {
  color: #777;
  font-size: 18px;
  margin: 15px 10px;
}
footer p {
  color: #777;
  font-weight: 700;
}
